<div class="container">
<div class="row">
<div class="col-md-8">
<h1><%= @user.name %></h1>
<% if @upcoming_events.any?%>
<h1>upcoming_events</h1>
<% @upcoming_events.each do |event| %>

<h3><%=event.title%></h3>
<h3><%=event.date%></h3>
<%end%>
<%end%>
<% if @previous_events.any?%>
<h1>previous_events</h1>
<% @previous_events.each do |event| %>

<h3><%=event.title%></h3>
<h3><%=event.date%></h3>
<%end%>
<%end%>
</div>
<div class="col-md-4">
<button>
<%= link_to "Signout", signout_path, method: :delete ,class:'login100-form-btn'%>
</button>
</div>
</div>